@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville: 300,300italic,400,400italic,700,700italic, 900, 900italic|Montserrat: 300,400,700,900|Raleway: 300,400,700,900|Roboto: 300,400,700,900');

* {
        font-family: "Roboto", sans-serif !important;
}

nav {
        background-color: #FFF !important;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.15)!important;
        height: 50px !important;
        padding: 5px 5px 8px 5px !important;
        width: 100% !important;
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
}

#button_home {
        background: transparent;
        border: none;
        padding-left: 20px;
        position: absolute;
        top: 0px;
        bottom: 0px;
}

nav ul {
        float: right !important;
        padding-right: 20px !important;
}

nav ul li {
        margin-right: 5px;
}

}
