@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville: 300,300italic,400,400italic,700,700italic, 900, 900italic|Montserrat: 300,400,700,900|Raleway: 300,400,700,900|Roboto: 300,400,700,900');

* {
        font-family: "Roboto", sans-serif !important;
}

body {
        background: #F6F7FB;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
}

a {
	color: #2e86de !important;
	text-decoration: none;	
}

hr {
	border: 2px solid #EBEBEB !important;
}

.exercice {
	color: #10ac84 !important;
}

.correction {
	color: #ee5253 !important;
}

.correction::before,
.exercice::before {
	content: "dd" !important;
	color: transparent !important;
	background: no-repeat url("/css/image/pdf_icon.png") center;
	background-size: 15px auto;
	padding-right: 3px !important;
}

.video::before {
	content: "dd" !important;
	color: transparent !important;
	background: no-repeat url("/css/image/video_icon.png") center;
	background-size: 15px auto;
	padding-right: 3px !important;
}

mark {
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
	font-size: 85%;
	padding: .2em .4em;
}

ul li {
    	list-style: none !important;
}

header {
	background: #F6F7FB;
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 999;
}

.container {
	background: #FFF;
	height: auto;
	margin: 40px;
}

nav {
	background: #3E4651;
	padding: 1px 0px 6px 0px;
}

nav ul {
	padding-left: 0px;
	text-align: center;
}

nav ul li {
	margin-right: 5px !important;
	list-style: none;
        text-transform: uppercase;
	display: inline;
}

nav ul li,
nav ul li a {        
	color: #FFF !important;
        font-family: "Montserrat", sans-serif !important;
        font-size: 10pt;
        font-weight: bold;
        letter-spacing: 1px;
}

nav ul li a:hover {
	opacity: .6;
}

#date {
	color: #FFF;
        font-family: "Montserrat", sans-serif !important;
	font-size: 10pt;
	font-weight: bold;
	letter-spacing: 1px;
	float: right;	
	position: relative;
	top: -33px;
	right: 23px;
}

.banner {
	background: no-repeat url("/css/image/banner1_1.png") center bottom !important;
	background-size: cover !important;
	width: 100%;
	height: 180px;
}

.subbar {
	
	background: #F6F8F8;
	border-bottom: 1px solid #e0e5e6;
	color: #7c9398;
	font-size: 14px;
	height: 65px;
	width: 100%;
	line-height: 65px;
	text-align: center;
}

.subbar span:not(:last-child) {
	border-right: 1px dotted #d1d9db;
	padding-right: 25px !important;
	margin-right: 15px !important;
}

.subbar span a,
.subbar span strong {
	background: #FFF;
	border: 1px solid #d1d9db !important;
	border-radius: 2px;
	color: #3a585f;
	font-weight: bold;
	padding: 8px 12px !important;
}

#content {
    	padding: 10px 30px 30px 30px !important;
}

.posts li {
	font-size: 12pt;
	padding: 5px 0px !important;
}

.posts li:not(:last-child) {
	border-bottom: 1px dotted #BEBEBE;	
}

.posts li.new::after {
	background: #8e44ad !important;
	border-radius: 2px;
	content: "nouveau" !important;
	color: #FFF !important;
	font-weight: bold !important;
	padding: 0px 10px 4px 10px;
	position: relative !important;
	top: -2px !important;
	margin-left: 10px;
}

.chapter {
	background: #2f3640 !important;
	border-radius: 2px;
	color: #FFF;
	font-weight: bold !important;
	padding: 2px 10px 4px 10px;
	float: right !important;
	margin-top: -3px !important;
}

.format {
	background: #10ac84 !important;
	border-radius: 2px;
	color: #FFF;
	font-weight: bold !important;
	padding: 2px 10px 4px 10px;
	float: right !important;
	margin-right: 5px !important;
	margin-top: -3px !important;
}

.back {
	background: #10ac84 !important;
	border-radius: 2px !important;
	border: none !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3) !important;
	color: #FFF !important;
	font-size: 12pt !important;
	font-weight: bold !important;
	padding: 7px 15px 9px 15px !important;
	margin-top: 15px !important;
}

h1 {
	font-family: "Raleway", sans-serif !important;
	font-weight: 900 !important;
	text-shadow: 3px 3px #EBEBEB !important;
}

#content ul {
	padding: 0px;	
}

#content ul .meta {
	background: #2e86de !important;
	border-radius: 2px;
	border: none !important;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3) !important;
	color: #FFF;
	font-size: 12pt;
	font-weight: bold !important;
	padding: 7px 15px 9px 15px;
    	display: inline;
}

#content p {
	font-size: 12pt;	
}

#content .text {
	border-bottom: 1px solid #EBEBEB !important;
	border-top: 1px solid #EBEBEB;
	font-size: 12pt;
	margin-top: 30px;
	margin-bottom: 20px !important;
}

#content .text p {
	color: #303234 !important;
	font-size: 12pt;
	line-height: 1.7em;
}

object {
	border: 3px solid #BEBEBE !important;
	max-height: 500px !important;
}

#top {
	background: #3E4651;
	border: none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	letter-spacing: .5px;
	outline: none;
	padding: 10px 20px 12px 20px;
	text-transform: uppercase;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
}

#top span {
	font-family: "Montserrat", sans-serif !important;	
	font-weight: bold;
}

footer {
	background: #F6F7FB;
	height: 42px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
	
	header,
	footer,
	#date,
	#disqus_thread,
	#top,
	.back,
	.subbar {
		display: none !important;	
	}

	.banner {
		height: 500px !important;	
	}
	
	.container {
		margin: 0 !important;
	}
	
	nav {
		padding: 45px 0px 50px 0px;	
	}

	nav ul li,
	nav ul li a {
		font-size: 30pt !important;
	}
	
	#content {
		padding: 60px 40px 40px 40px !important;
		text-align: center !important;
	}
	
	h1 {
		font-size: 40pt !important;
		margin: 0px 0px 40px 0px !important;	
	}
	
	h1.section {
		margin-top: 80px !important;	
	}
	
	#content p,
	.posts a {
		font-size: 18pt !important;
		line-height: 70pt !important;
	}
	
	.posts li {
		line-height: 70pt !important;
	}
	
	.posts li.new::after {
		border-radius: 5rem !important;
                padding: 20px 50px 22px 50px !important;
		position: relative !important;
		top: -3px !important;
		margin-left: 20px !important;
	}
	
	.chapter,
	.format {
		background: transparent !important;
		font-size: 16pt !important;
		float: none !important;
		font-weight: bold !important;
		margin-left: 10px !important;
	}
	
	.chapter::before {
		color: #000 !important;
		content: "/" !important;	
		font-weight: bold !important;
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
	
	.chapter::after {
		color: #000 !important;
		content: "/" !important;	
		font-weight: bold !important;
		padding-left: 20px !important;
	}
	
	.chapter {
		color: #2f3640 !important;
	}
	
	.format {
		color: #10ac84 !important;
	}
	
	#content .text {
		border-top: none !important;	
		border-bottom: none !important;
		margin-top: 60px !important;
	}
	
	#content .text p * {
    		line-height: 70pt !important;
	}
	
	.meta {
		border-radius: 5rem !important;
		font-size: 12pt !important;
                padding: 20px 50px 22px 50px !important;
		text-transform: lowercase !important;
		margin-top: 30px !important;
		margin-right: 5px !important;
	}
	
	img {
    		width: 100% !important;
	}
	
	.correction::before,
	.exercice::before,
	.video::before {
		content: "dd" !important;
		background-size: 40px auto;
		padding-right: 3px !important;
	}

}
