<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="content-type" content="text/html; charset=UTF-8">
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/css/image/favicon5.ico">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
			<script type="text/javascript">
      			</script>
		</head>
		<body>
			<nav>
				<a id="lien_home" href="#">Sinslay</a>
				<ul>
					<li>
						<button class="button_dropdown">carnets</button>
						<div class="menu_dropdown">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a
						</div>
					</li>
					<li>
						<button class="button_dropdown">projets</button>
						<div class="menu_dropdown">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a
						</div>
					</li>
				</ul>
			</nav>
		</body>
	</html>
