<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="content-type" content="text/html; charset=UTF-8">
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/css/image/favicon5.ico">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
			<script type="text/javascript">
				function dropdown1() {
					document.getElementById("menu_dropdown_1").classList.toggle("show");
				}

				// Close the dropdown menu if the user clicks outside of it
				window.onclick = function(event) {
					if (!event.target.matches('.button_dropdown_1')) {
						var dropdowns = document.getElementsByClassName("menu_dropdown_1");
						var i;
						for (i = 0; i < dropdowns.length; i++) {
							var openDropdown = dropdowns[i];
							if (openDropdown.classList.contains('show')) {
								openDropdown.classList.remove('show');
							}
						}
					} 
      			</script>
		</head>
		<body>
			<nav>
				<a id="lien_home" href="#">Sinslay</a>
				<ul>
					<li>
						<button onclick="dropdown1()" class="button_dropdown_1">carnets</button>
						<div id="menu_dropdown_1" class="menu_dropdown">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a
						</div>
					</li>
					<li>
						<button onclick="dropdown2()" class="button_dropdown_2">projets</button>
						<div id="menu_dropdown_2" class="menu_dropdown">
							<a href="#">Link 1</a>
							<a href="#">Link 2</a
						</div>
					</li>
				</ul>
			</nav>
		</body>
	</html>
