<!DOCTYPE html>
	<html>
		<head>
			<meta http-equiv="content-type" content="text/html; charset=UTF-8">
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/css/image/favicon5.ico">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					function updateDate() {
						var m = new Date();       
						var dateString = ('0' + m.getDate()).slice(-2) + '.' + ('0' + (m.getMonth()+1)).slice(-2);
						document.getElementById('date').innerHTML = dateString;
					}
					updateDate();
				});
				$(document).ready(function() {
					$(window).scroll(function(){
						if ($(this).scrollTop() > 100) {
							$('#top').fadeIn();
						} else {
							$('#top').fadeOut();
						}
					});

					$('#top').click(function(){
						$('html, body').animate({scrollTop : 0},800);
						return false;
					});
				});
      			</script>
		</head>
		<body>
			<header></header>
			<div class="container">
				<nav>
					<ul>
						<li><a href="/">Accueil</a></li>
						<li>×</li>
						<li><a href="/blog6">6eme</a></li>
						<li>×</li>
						<li><a href="/blog4">4eme</a></li>
						<li>×</li>
						<li><a href="/blog">Autres</a></li>
					</ul>
					<div id="date"></div>
				</nav>
			<div class="banner"></div>
			<div class="subbar">
				<span>adresse mail : <a href="mailto:benjamindang2015@gmail.com">benjamindang2015@gmail.com</a></span>
				<span>numéro : <strong>06 52 83 26 01</strong></span>
				<span>github : <a href="https://github.com/MonsieurDANG">MonsieurDANG</a></span>
			</div>
				{{ content }}
			</div><!-- /.container -->
	
			<button onclick="topFunction()" id="top" title="Go to top">
				<span lang="fr">Haut</span>
			</button>
			<footer></footer>
		</body>
	</html>
